<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div><h1>Tonpai Messenger:​ Login</h1></div>
        <div>
            <form action="/login" method="post">
                <input id="username" name="username" type="text" placeholder="ชื่อผู้ใช้"/>
                <input id="password" name="password" type="password" placeholder="รหัสผ่าน"/>
                <input value="เข้าสู่ระบบ" type="submit"/>
            </form>
        </div>
    </div>
</body>
</html>